{% extends "layout.html" %}

{% block body %}
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
        <a class="navbar-brand" href="#">TCAS Central</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
            <a class="nav-link" disabled>Filter</a>
            <a class="nav-link" disabled>Apply</a>
            <a class="nav-link" disabled>Sign Up</a>
            <a class="nav-link" disabled>Login</a>
            </div>
        </div>
        </div>
    </nav>

    <table class="table table-dark table-success table-striped table-hover">
        <thead>
          <tr>
            {% for element in header %}
                <th scope="col">{{ element }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
            {% for row in program %}
                <tr>
                    {% for element in row %}
                        <th scope="col" href="mahidol.html">{{ element }}</th>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
      </table>
{% endblock %}