{% extends "layout.html" %}

{% block body %} 
<nav class="navbar nav-pills flex-column flex-sm-row navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand flex-sm-fill text-sm-center nav-link" href="/"><strong>Nekstep</strong></a>
    <a class="navbar-brand flex-sm-fill text-sm-center nav-link active" aria-current="page" href="/engineering">Engineering</a>
    <a class="navbar-brand flex-sm-fill text-sm-center nav-link" aria-current="page" href="/science">Science</a>
    <a class="navbar-brand flex-sm-fill text-sm-center nav-link" aria-current="page" href="/medicine">Medicine</a>
    <a class="navbar-brand flex-sm-fill text-sm-center nav-link" aria-current="page" href="/others">Others</a>  
  </div>
</nav>

<hr class="my-2">

<div class="accordion" id="accordionExample">
    {% for uni, uniList in programList.items() %}
    <div class="accordion-item">
        <h2 class="accordion-header" id="heading{{uni}}">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{uni}}" aria-expanded="false" aria-controls="collapse{{uni}}">
                {{uni}}
            </button>
        </h2>
        <div id="collapse{{uni}}" class="accordion-collapse collapse" aria-labelledby="heading{{uni}}" data-bs-parent="#accordionExample">
            <div class="accordion-body" id="body{{uni}}">
                <div class="accordion" id="accordionExample{{uni}}">
                    {% for fac, facList in uniList.items() %}
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading{{uni}}{{fac}}">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{uni}}{{fac}}" aria-expanded="false" aria-controls="collapse{{uni}}{{fac}}">
                                {{fac}}
                            </button>
                        </h2>
                        <div id="collapse{{uni}}{{fac}}" class="accordion-collapse collapse" aria-labelledby="heading{{uni}}{{fac}}" data-bs-parent="#accordionExample{{uni}}">
                            <div class="accordion-body" id="body{{uni}}{{fac}}">
                                <div class="accordion" id="accordionExample{{uni}}{{fac}}">
                                    {% for round, roundList in facList.items() %}
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="heading{{uni}}{{fac}}{{round}}">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{uni}}{{fac}}{{round}}" aria-expanded="false" aria-controls="collapse{{uni}}{{fac}}{{round}}">
                                                {{round}}
                                            </button>
                                        </h2>
                                        <div id="collapse{{uni}}{{fac}}{{round}}" class="accordion-collapse collapse" aria-labelledby="heading{{uni}}{{fac}}{{round}}" data-bs-parent="#accordionExample{{uni}}{{fac}}">
                                            <div class="accordion-body" id="body{{uni}}{{fac}}{{round}}">
                                                <div class="accordion" id="accordionExample{{uni}}{{fac}}">
                                                    {% for prog, progList in roundList.items() %}
                                                    <div class="accordion-item">
                                                        <h2 class="accordion-header" id="heading{{uni}}{{fac}}{{round}}{{prog}}">
                                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{uni}}{{fac}}{{round}}{{prog}}" aria-expanded="false" aria-controls="collapse{{uni}}{{fac}}{{round}}{{prog}}">
                                                                {{prog}}
                                                            </button>
                                                        </h2>
                                                        <div id="collapse{{uni}}{{fac}}{{round}}{{prog}}" class="accordion-collapse collapse" aria-labelledby="heading{{uni}}{{fac}}{{round}}{{prog}}" data-bs-parent="#accordionExample{{uni}}{{fac}}{{round}}">
                                                            <div class="accordion-body" id="body{{uni}}{{fac}}{{round}}{{prog}}">
                                                                {{prog}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}