{% extends "layout.html" %}

{% block body %} 
<nav class="navbar nav-pills flex-column flex-sm-row navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand flex-sm-fill text-sm-center nav-link active" href="/"><strong>Nekstep</strong></a>
    <a class="navbar-brand flex-sm-fill text-sm-center nav-link" aria-current="page" href="/engineering">Engineering</a>
    <a class="navbar-brand flex-sm-fill text-sm-center nav-link" aria-current="page" href="/science">Science</a>
    <a class="navbar-brand flex-sm-fill text-sm-center nav-link" aria-current="page" href="/medicine">Medicine</a>
    <a class="navbar-brand flex-sm-fill text-sm-center nav-link" aria-current="page" href="/others">Others</a>  
  </div>
</nav>

<hr class="my-2">

<div class="container">
  <div class="jumbotron text-center">
    <h1 class="display-4">Nekstep</h1>
    <p class="lead">A new one-stop place for Thai University Admission</p>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="card clickable" onclick="window.location.href='/engineering'">
        <div class="card-body">
          <h5 class="card-title">Engineering</h5>
          <p class="card-text">Discover the services we offer.</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card clickable" onclick="window.location.href='/science'">
        <div class="card-body">
          <h5 class="card-title">Science</h5>
          <p class="card-text">Discover the services we offer.</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card clickable" onclick="window.location.href='/medicine'">
        <div class="card-body">
          <h5 class="card-title">Medicine</h5>
          <p class="card-text">Discover the services we offer.</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card clickable" onclick="window.location.href='/others'">
        <div class="card-body">
          <h5 class="card-title">Others</h5>
          <p class="card-text">Discover the services we offer.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-2 mb-3">
      <li class="nav-item"><a href="/" class="nav-link px-2 text-muted">Home</a></li>
      <li class="nav-item"><a href="/engineering" class="nav-link px-2 text-muted">Engineering</a></li>
      <li class="nav-item"><a href="/science" class="nav-link px-2 text-muted">Science</a></li>
      <li class="nav-item"><a href="/medicine" class="nav-link px-2 text-muted">Medicine</a></li>
      <li class="nav-item"><a href="/others" class="nav-link px-2 text-muted">Others</a></li>
    </ul>
    <p class="text-center text-muted">Website Created by 6/3 No.12, 17</p>
  </footer>
</div>
{% endblock %}