{% extends "layout.html" %}

{% block body %} 
<nav class="navbar nav-pills flex-column flex-sm-row navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand flex-sm-fill text-sm-center nav-link" href="/">Nekstep</a>
    <a class="navbar-brand flex-sm-fill text-sm-center nav-link" aria-current="page" href="/engineering">Engineering</a>
    <a class="navbar-brand flex-sm-fill text-sm-center nav-link" aria-current="page" href="/science">Science</a>
    <a class="navbar-brand flex-sm-fill text-sm-center nav-link active" aria-current="page" href="#">Medicine</a>
    <a class="navbar-brand flex-sm-fill text-sm-center nav-link" aria-current="page" href="/others"">Others</a>  
  </div>
</nav>
{% endblock %}